<p id="notice"><%= notice %></p>

<h1>Listing Visions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>

      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visions.each do |vision| %>
      <tr>
        <td><%= link_to vision.title, vision %></td>

        <td><%= vision.location %></td>

        <td><%= pluralize(vision.votes.count, "vote") %></td>
        <td><%= button_to '+1', upvote_vision_path(vision), method: :post %></td>

        <td><%= link_to 'Delete', vision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vision', new_vision_path %>
